<%- include("partials/head")%>
    <%- include("partials/header")%>
        <!------------------------------------------------------------>

        <div class="carritoTitulo">
            <h3>Carrito <i class="fas fa-luggage-cart"></i> </h3>
        </div>

        <!------------------------Pedifacil------------------------------------->


        <div class="box-carrito">


            <div class="carrito-left">
                <div class="pedidoT">

                    <span>PRODUCTO: </span>
                    <span>PRECIO: </span>
                    <span>CANTIDAD</span>
                    <span>SUBTOTAL</span>

                </div>

                <% userCart.forEach(item=> { %>
                    <div id="pedido">


                        <span class="nombreV">
                            <img class="itemImage" src="/images/productos/<%= item.imagen %>" alt="imagen de producto">
                            <br>
                            <%= item.nombre_vino %>
                        </span>


                        <span>$ <%= item.precio_venta %></span>

                        <span>Cantidad</span>

                        <span>Subtotal</span>

                    </div>
                    <%})%>

            </div>

            <div class="carrito-right">

                <h3>Resumen de pedido</h3>
            </div>




            <!-----------------fin row-->
        </div>




        <div class="resumenP">

            <h3>Total  <i class="fas fa-shopping-bag"></i> <i class="fas fa-money-bill-alt"></i> </h3>



        </div>




        <!------------------------------------------------------------>
        <%- include("partials/footer")%>