<%- include("partials/head")%>
<%- include("partials/header")%>
<!------------------------------------------------------------>

<div class="carritoTitulo">
    <h3>Carrito <i class="fas fa-luggage-cart"></i> </h3>
</div>

<!------------------------Pedifacil------------------------------------->


<div class="box-carrito">
    
    
    <div class="carrito-left">
        
        <div id="pedidoT">
            
            <span>PRODUCTO </span>
            <span>PRECIO </span>
            <span>CANTIDAD</span>
            <span>SUBTOTAL</span>
            <span>ELIMINAR</span>
            
        </div>
        
        <% userCart.forEach(item=> { %>
            <div id="pedido">
                
                
                <span class="nombreV">
                    <img class="itemImage" src="/images/productos/<%= item.imagen %>" alt="imagen de producto">
                    <br>
                    <%= item.nombre_vino %>
                </span>
                
                
                <span style="margin-left:px">$ <%= item.precio_venta %></span>
                
                
                
                <!---------------------------------------->
                
                <div class="cart-item_quantity cantidad">
                    
                    <form class="cart-item_quantity_select" action="/cart/add/<%= item.id %>?_method=PUT" method="POST">
                        <input class="form-control form-control-sm" type="number" name="quantity" value="1" max="" min="1" >
                        <button class="btn btn-sm btn-outline-info" type="submit">Aplicar</button>
                    </form>
                    
                </div>
                
                
                <span>Subtotal</span>
                
                <!------------------------------------------------>
                
                
                
                <form class="cart-item_delete" action="/carrito/delete/<%=item.id %>?_method=DELETE" method="POST"><button type="submit"><i class="fas fa-trash-alt"></i></button></form>
                
            </div>
            <%})%>
            
        </div>
        
        <div class="carrito-right">
            
            <h3>Resumen de pedido</h3>
        </div>
        
        
        
        
        <!-----------------fin row-->
    </div>
    
    
    
    
    <div class="resumenP">
        
        <h3>Total  <i class="fas fa-shopping-bag"></i> <i class="fas fa-money-bill-alt"></i> </h3>
        
        
        
    </div>
    
    
    
    
    <!------------------------------------------------------------>
    <%- include("partials/footer")%>