<%- include("partials/head")%>
<%- include("partials/header")%>
<!------------------------------------------------------------>









<div class="container-fluid" >
    <div class="row" id="colorF">
        <div class="col-12">
            <h2 class="productsTitle">Nuestros Vinos</h2>
        </div>

        


        <% products.forEach(product => { %>
        <div class="col-12 col-sm-6 col-lg-3">
            <a href="/products/detail/<%=product.id%>">
                <section class="product-box">

                    <figure class="product-box_image">
                        <img class='productImage' src="/images/productos/<%= product.imagen%>" alt="imagen de producto">
                    </figure>
                    <article class="product-box_data">
                        <h2>$<%= product.precio %></h2>
                        <p><%= product.nombre %></p>
                       
                    </article>
                    <button type="button" class="btn btn-success">comprar <i
                        class="fas fa-shopping-cart"></i></button>
                </section>
            </a>
        </div>
        <% }); %>
    </div>

</div>















<!------------------------------------------------------------>
<%- include("partials/footer")%>