<div class='container-fluid' id='registroC'>
    <div class='row' id='form'>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6" id="registro">



            <h3>Eliminar Producto</h3>


            <p style="color:red">¡Alerta! El producto se eliminará</p>

            <p>¿Está seguro de querer continuar?</p>

<!--------------------------------------------------------->
 <form action="/products/delete/<%=product.id %>?_method=DELETE" method='POST'
                enctype='multipart/form-data'>


                <label for='id'>ID</label></br>
                <input type='number' name='id' id='id' class='uno' value="<%= product.id %>"></br>

                <label for='nombre'>Nombre</label></br>
                <input type='text' name='nombre' id='nombre' class='uno' value="<%=product.nombre %>"></br>

                <label for='color'>Color</label></br>
                <input type='text' name='color' id='color' class='uno' value="<%=product.color %>"></br>

                <label for='categoría'>Categoría</label></br>
                 <input type='text' name='categoría' id='categoría' class='uno' value="<%=product.categoría %>"></br>

                <label for='variedad'>Variedad</label></p>
                <input type='text' name='variedad' id='variedad' class='uno' value="<%=product.variedad%>"></br>

                <label for='precio'>Precio</label></br>
                <input type='number' name='precio' id='precio' class='uno' value="<%= product.precio %>" ></br>

                <label for='descuento'>Descuento</label></br>
                <input type='number' name='descuento' id='descuento' class='uno' value='<%= product.descuento %>'>
                </br>

                <label for='cantidad'>cantidad</label></br>
                <input type='number' name='cantidad' id='cantidad' class='uno' value="<%= product.cantidad %>"></br>

                <label for='descripcionCorta'>Descripción Corta</label></br>
                <textarea name='descripcionCorta' id='descripcionCorta' style='background-color: white;' class='uno'
                        value=""><%= product.descripcionCorta %></textarea></br>



                <label for='crianza'>crianza</label></br>
                <textarea name='crianza' id='crianza' style='background-color: white;' class='uno'
                        value=""><%= product.crianza %></textarea></br>

                <label for='descripcionLarga'>Descripción Larga</label></br>
                <textarea name='descripcionLarga' id='descripcionLarga' style='background-color: white;' class='uno'
                        value=""><%= product.descripcionLarga %></textarea></br>



                <label for='imagen'>Foto de producto a eliminar</label></br>

                <img class="" src="/images/productos/<%= product.imagen %>" style='width:30%'>

                <br>
                <%=product.imagen%>
                <br>

                <p id='avatar'><input type='file' name='imagen' id='imagen' class='uno'  accept=".jpg,.png,.jpeg,.gif" value="<%=product.imagen%>">
                </p>

                <button type="submit" class="btn btn-primary" id="btn-form">Eliminar</button>


            </form>


        </div>
    </div>
</div>